.central {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color:#3D93C2
}

.startGame {
    margin: 5em;
}

.bigS {
    height: 4em;
    width: 6em;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 3em 3em 3em;
    font-weight: bold;
    border: solid black 2px;
    background-color: rgb(194, 108, 61);
    border-radius: 4px;
}

.bigS:hover, .bigB:hover {
    scale: 1.1;
    background-color: rgb(179, 77, 22);;
}


.bigB {
    height: 3em;
    width: 7em;
    font-size:x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0em 0em 1.5em 0em;
    font-weight: bold;
    border: solid black 2px;
    background-color: #C26C3D;
    border-radius: 4px;
}

.intro {
    display: flex;
    justify-content: center;
}

.outputText {
    text-align: center;
    border: solid black 2px;
    border-radius: 4px;
    background: #D49775;
}

.makeChoice {
    margin: 5em 0 3em 0;
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: center;
    border: solid black 2px;
    border-radius: 4px;
    background: #D49775;
}